<h1>Contact</h1>

<p style="max-width: 500px">
If you have any questions, requests or problems, please send an email to
<a href="mailto:fred@lafrancef.net">fred@lafrancef.net</a> to contact the 
developer of the application. Make sure to include as many details as you 
can, especially if you wish to report a bug with the application.
</p>

<!--
<%= form_tag do %>
<p>
	<label for="contact_source">Your email</label>:
	<%= text_field "contact", "source" %>
</p>
<p>
	<label for="contact_content">Your message</label>:<br/>
	<%= text_area "contact", "content" %>
</p>
<%= submit_tag "Send" %>
<% end %>

-->