$bodyMargin: 8px;
$zoneBorder: 2px;
$mainCanvasHeight: 300px;
$zoneBgColor: #E8FFFF;
$opMenuHeight: 50px;

#mainCanvas .ui-selecting { border: 2px solid #AAA; }
#mainCanvas .ui-selected { border: 2px solid aquamarine; }

body {
	margin: $bodyMargin;
}

#operationsMenuOuter {
	height: $opMenuHeight;
	position: relative;
	margin-bottom: 4px;
}

#operationsMenuInner {
	position: absolute;
	height: $opMenuHeight;
	top: 50%;
	margin-top: -($opMenuHeight / 4);
}

#mainCanvas {
	position: relative; 
	overflow: auto;
	height: $mainCanvasHeight;
	z-index: 50;
	background-color: $zoneBgColor;
}

.zone {
	border: solid $zoneBorder #CCC;
	border-radius: 4px;
	padding: 3px; 
}

.node {
	position: absolute; 
	margin: 0; 
	padding:5px; 
	border: solid 2px #FFFFFF;
	width: 50px;
	background-color: #FFFFFF;
	text-align:center;
	display:table;
}

.trace {
	font-style: italic;
}

.thetaRole {
	font-style: italic;
	color: #6495ED;
}

.caseMarker {
	font-style: italic;
	color: #FF8C00;
}

.editable {
	white-space: nowrap;
}

/* Used for the selection lasso */
.ui-selectable-helper {
	position: absolute; 
	z-index: 100; 
	border:1px dotted black;
}